<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row">

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-uploader btn-lg" data-toggle="modal" data-target="#myModal">
          <i class="far fa-arrow-alt-circle-up"></i>
          Upload truyện
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <form (submit)="addBook(bookName.value, bookAuthor.value, bookImage.value, bookContent.value)">
              <div class="modal-content" style="border-radius: 20px;">
                <div class="modal-header">
                  <h4 class="modal-title">Upload truyện</h4>
                </div>

                <div class="modal-body">
                  <div class="form-group">
                    <label for="name">Tên truyện: </label>
                    <input type="text" class="form-control" id="book-name" #bookName>
                  </div>
                  <div class="form-group">
                    <label for="author">Tác giả: </label>
                    <input type="text" class="form-control" id="book-author" #bookAuthor>
                  </div>
                  <div class="form-group">
                    <label for="categories">Thể loại(Nhấn giữ Ctrl để chọn nhiều): </label><br>
                    <!-- <select class="custom-select" multiple [(ngModel)]="selectedCategories"> -->
                    <select class="custom-select" [(ngModel)]="selectedCategories" name="selectedCategories" multiple>
                      <option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="image">Hình ảnh: </label>
                    <input type="text" class="form-control" id="book-img" #bookImage>
                  </div>
                  <div class="form-group">
                    <label for="content">Nội dung: </label>
                    <textarea class="form-control" id="book-content" rows="3" #bookContent></textarea>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" id="btn-upload">Upload</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>

      <div class="row">
        <div class="card" style="width: 14rem;" *ngFor="let book of books">
          <a routerLink="/book-detail/{{ book.id }}"><img src="{{ book.img }}" class="card-img-top" alt="{{ book.name }}"
              style="height: 277px;"></a>
          <div class="card-body" style="text-align: center">
            <a routerLink="/book-detail/{{ book.id }}">
              <h6 class="card-title">{{ book.name }}</h6>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3" style="padding-top: 20px; border: 1px solid #ccc">
      <h2>Thể loại truyện</h2>
      <hr>
      <div class="col-xs-12">
        <li *ngFor="let category of categories">
          <a href="/allbook/{{ category.categoryName }}">{{ category.categoryName }}</a>
        </li>
      </div>
    </div>
  </div>
</div>